<% title "#{@page_title} - #{AppSettings['settings.site_name']}" %>
<% meta_tag :description, "#{@category.meta_description}" %>
<% meta_tag :keywords, "#{@category.keywords}" %>
<% content_for :canonical_url, category_url(@category) %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3><%= @category.name %></h3>
    <% @docs.each do |doc| %>
      <%= render "docs/doc_panel", doc: doc %>
    <% end %>
    <% if @docs.count == 0 %>

      <div class="text-center verticalness">
        <%= t(:nothing_here) %>
      </div>

    <% end %>

    <div class="row">
      <div class="col-md-12 text-left">
        <%= paginate @docs %>
      </div>
    </div>
  </div>
</div>
