.ui-autocomplete {
  padding:0px;
  margin:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  li.ui-menu-item {
    margin:5px 5px;
    padding:5px;
    &:hover {
      cursor:pointer;
      background-color:#eee;
    }
    .ui-menu-item-heading {
      font-weight:normal;
      font-size:18px;
    }

    .ui-menu-item-content {
      font-size:12px;
      p {
        margin-bottom:inherit;
        font-size:12px;
      }
    }
  }
}